<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        bootstrap="bootstrap.php"
        colors="always"
        beStrictAboutTestsThatDoNotTestAnything="true"
        checkForUnintentionallyCoveredCode="true"
        beStrictAboutOutputDuringTests="true"
        beStrictAboutTestSize="true"
        beStrictAboutChangesToGlobalState="true"
        >
    <logging>
        <log type="coverage-php" target="coverage/coverage.cov"/>
    </logging>
</phpunit>